.box {
	display: inline-block;
	margin-bottom: 2px;
	height: 2em;
	width: 2em;
	background-color: blue;
	font-size: 5em;
	border: 2em;
	text-align: center;
}

.high {
	margin-bottom: 2px;
	height: 2em;
	width: 2em;
	background-color: red;
	font-size: 5em;
	border: 2em;
	text-align: center;
}